---
const platform = 'github'
const username = 'inazrabuu'
import Social from '../components/Social.astro'
---
<style>
footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
}
</style>

<footer>
    <p>Learn more about my projects on <a href={`https://${platform}.com/${username}`}>{platform}</a></p>
    <Social platform='twitter' username={username} />
    <Social platform='instagram' username={username} />
</footer>